*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/kotlinc.xml
.idea/gradle.xml
.idea/codeStyles/Project.xml
.idea/caches/build_file_checksums.ser
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/f/3/f391a97dcee08e22273e699f9ee6a14970de12b8
.idea/sonarlint/issuestore/0/b/0bbf378008581ac6e4edbf3526178e9b962d351a
